---
import Navigation from "../components/Navigation.vue";
import Header from '../components/header.vue'
import Contain from '../components/contain.vue'
import '../styles/global.css'
import 'element-plus/dist/index.css'

const pages = [
  {
    slug: undefined,
    title: 'Astro Store',
    text: 'Welcome to the Astro store!',
  },
  {
    slug: 'sdhifgufg',
    title: 'Astro products',
    text: 'We have lots of products for you',
  }
];
const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, text } = page;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<!-- <Header></Header> -->
		<Navigation client:load></Navigation>
		<Contain client:load></Contain>
	
	</body>
</html>
